@using corretaje.Models;
@using corretaje.Clases;
@using System.Configuration;

@model IEnumerable<corretaje.Clases.liquidaciones>

@{

    int IdUsuario = int.Parse(Request.Cookies["cookiePerfil"]["usuario"].ToString());
    int idArea = int.Parse(Request.Cookies["cookiePerfil"]["idArea"].ToString());
    int idSubper = int.Parse(Request.Cookies["cookiePerfil"]["idSubper"].ToString());
    string DirectorioDocumentos = ConfigurationManager.AppSettings.Get("directoriodocumentos");

    DateTime fecha = new DateTime();
    fecha = DateTime.Now;
    string ano = fecha.Year.ToString();
    string mes = fecha.Month.ToString();
    string dia = fecha.Day.ToString();
    if (mes.Length == 1)
    {
        mes = "0" + mes;
    }

    if (dia.Length == 1)
    {
        dia = "0" + dia;
    }
    string fec = dia + "-" + mes + "-" + ano;

    int monto = 0;
    int sum_monto = 0;
    int com_neta = 0;
    int sum_com_neta = 0;
    int com_iva = 0;
    int sum_com_iva = 0;
    int total_com = 0;
    int sum_total_com = 0;
    int descuentos = 0;
    int sum_descuentos = 0;
    int a_pagar = 0;
    int sum_a_pagar = 0;
    string ruta = "";
    string la_fecha = ViewBag.fec;
}
<style>
    .flota_derecha {
        float: right;
    }
</style>
<table style="font-size:10px;" class="table table-striped table-condensed table-bordered table-hover display" id="tbl_aprob">
    <thead>
        <tr style="background:#eeefff;">
            <th><input type="checkbox" name="todos2" id="todos2"></th>
            <th>Ejecutivo KAM</th>
            <th>Mes</th>
            <th>RUT</th>
            <th>Propietario</th>
            <th>Monto</th>
            <th>Com. Neta</th>
            <th>Com. Iva.</th>
            <th>Total Com.</th>
            <th>Descuentos</th>
            <th>A Pagar.</th>

            @*<th>
                    @Html.DisplayNameFor(model => model.g_file_factura)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.g_file_liquidacion)
                </th>*@

            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            monto = int.Parse(Math.Round(double.Parse(item.monto), 0).ToString());
            sum_monto += monto;
            com_neta = int.Parse(Math.Round(double.Parse(item.com_neta), 0).ToString());
            sum_com_neta += com_neta;
            com_iva = int.Parse(Math.Round(double.Parse(item.com_iva), 0).ToString());
            sum_com_iva += com_iva;
            total_com = int.Parse(Math.Round(double.Parse(item.com_total), 0).ToString());
            sum_total_com += total_com;
            descuentos = int.Parse(Math.Round(double.Parse(item.descuentos), 0).ToString());
            sum_descuentos += descuentos;
            a_pagar = int.Parse(Math.Round(double.Parse(item.a_pagar), 0).ToString());
            sum_a_pagar += a_pagar;
            <tr>
                <td><input type="checkbox" name="id2_aprob" id="id2_aprob" class="sel_todos2" value="@item.rut_propietario|@item.mes|@item.id_pago"></td>
                <td>@item.sac_inversionista</td>
                <td>@item.mes</td>
                <td>@item.rut_propietario</td>
                <td>@item.propietario</td>
                <td style="text-align: right;" data-order="@monto">$ @String.Format("{0:n0}", monto)</td>
                <td style="text-align: right;" data-order="@com_neta">$ @String.Format("{0:n0}", com_neta)</td>
                <td style="text-align: right;" data-order="@com_iva">$ @String.Format("{0:n0}", com_iva)</td>
                <td style="text-align: right;" data-order="@total_com">$ @String.Format("{0:n0}", total_com)</td>
                <td style="text-align: right;" data-order="@descuentos">$ @String.Format("{0:n0}", descuentos)</td>
                <td style="text-align: right;" data-order="@a_pagar">$ @String.Format("{0:n0}", a_pagar)</td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.g_file_factura)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.g_file_liquidacion)
                    </td>*@

                <td nowrap="nowrap" style="text-align:right">
                    @{
                        if (item.id_liq != "0")
                        {
                            if (item.g_file_factura != "")
                            {
                                <a href="@ruta/liq_@item.id_liq/@item.g_file_factura" target="_blank"><img title="Ver adjunto" src='~/img/adj.png'></a>
                                if (idArea != 10 || idSubper != 9)
                                {
                                    <img id='eliminar_archivo' onclick="eliminar_archivo(@item.id_liq)" src='~/img/eliminar_doc.png' title="Eliminar archivo adjunto" style="cursor:pointer">
                                }
                            }
                            else
                            {
                                if (idArea != 10)
                                {
                                    <img src="~/img/attachar.png" id="subir_factura" id_liq="@item.id_liq" style="cursor: pointer;" />
                                    <input type="file" id="archivo_@item.id_liq" name="archivo_@item.id_liq" id_liq="@item.id_liq" style="display:none" />
                                }
                            }
                        }
                    }
                    @*GenerarLiquidacion(int id_liq, int rut, string fecha)*@
                    @*<img id='factura' src='~/img/etiqueta_azul.png' onClick="agregar_factura(@item.id_pago,500,250)" title="Ingresar número de factura" style="cursor:pointer">*@
                    @if (idArea != 10)
                    {
                        if (idSubper != 9)
                        {
                            <a href="@Url.Action("GenerarLiquidacion", "Liquidacion", new { id_liq = @item.id_liq, rut = @item.rut_propietario, fecha = @item.mes.Replace(".", "") })"><img src="~/img/pdf.png" title="Ver Liquidación" style="cursor:pointer" /></a>
                        }
                    }
                    @*<img id='img_subir_archivo' src='~/img/attachar.png' title="Adjuntar comprobante de pago" style="cursor:pointer">*@
                </td>


            </tr>
        }
    </tbody>

    <tfoot>
        <tr style="background: #eeefff;">
            <td colspan="5" style="text-align: right;">Total : </td>
            <td style="text-align: right;">$ @String.Format("{0:n0}", sum_monto)</td>
            <td style="text-align: right;">$ @String.Format("{0:n0}", sum_com_neta)</td>
            <td style="text-align: right;">$ @String.Format("{0:n0}", sum_com_iva)</td>
            <td style="text-align: right;">$ @String.Format("{0:n0}", sum_total_com)</td>
            <td style="text-align: right;">$ @String.Format("{0:n0}", sum_descuentos)</td>
            <td style="text-align: right;">$ @String.Format("{0:n0}", sum_a_pagar)</td>
            <td></td>
        </tr>
    </tfoot>
</table>

<div style="margin-top:10px;border:0px solid #f30;" align="right">

</div>

<script>
    $(function () {

        //$("#todos2").click(function () {
        //    if ($(this).prop("checked")) {
        //        $("#tbl_aprob input:checkbox").prop("checked", true);
        //        //alert("chk");
        //    } else {
        //        $("#tbl_aprob input:checkbox").prop("checked", false);
        //        //alert("no chk");
        //    }
        //});

        $("#todos2").click(function () {
            var allPages = tabla.cells().nodes();

            if ($(this).is(":checked")) {
                $(".sel_todos2", allPages).prop("checked", true);
            } else {
                $(".sel_todos2", allPages).prop("checked", false);
            }

        });

        var tabla = $("#tbl_aprob").DataTable(
        {
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            "iDisplayLength": 25,
                dom: 'B<"flota_derecha"lf>rtip',
                buttons: [
                    {
                        extend: 'colvis',
                        text: 'Columnas'
                    },
                    {
                        extend: 'excelHtml5',
                        text: 'Excel',
                        footer: true,
                        exportOptions: {
                            columns: ':visible'
                        },
                        filename: 'Solicitudes_Devolucion.xlsx'
                    },
                    {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'LEGAL',
                        text: 'PDF',
                        footer: true,
                        exportOptions: {
                            columns: ':visible'
                        },
                        filename: 'Solicitudes_Devolucion.pdf'
                    }
                ]
        });
        $("#cant_preli").html("&nbsp;&nbsp;"+tabla.data().count()+"&nbsp;&nbsp;");
        $("img").click(function () {
            if ($(this).attr("id") == "subir_factura") {
                var id_liq = $(this).attr("id_liq");
                var id_archivo = "#archivo_" + id_liq;
                $(id_archivo).click();
            }
        });

        $("input:file").change(function(){

            //var id = $(this).attr("id");
            var id_liq = $(this).attr("id_liq");

            var data = new FormData();
            var archivos = $(this).get(0).files;



            if (archivos.length > 0) {
                data.append("id_liq", id_liq);
                data.append("archivo", archivos[0]);
                var subir = $.ajax({
                    type: "POST",
                    url: "@Url.Action("_SubirArchivo", "liquidacion")",
                    contentType: false,
                    processData: false,
                data: data
            });

            subir.done(function (xhr, textStatus) {
                var ret = xhr.split('|');
                alert(ret[1]);
                @*if (ret[0] == "true") {
                    document.location = '@Url.Action("index","liquidacion")';
                }*@
            });

        } else {
                    alert("Debe seleccionar un archivo antes de grabar.")
                    return false;
    }

    });

    });

    function eliminar_archivo(id) {
        //_EliminarArchivo(int id_pago)
        //alert(archivo);
        var param = { "id_liq": id };
        $.ajax({
            data: param,
            url: "@Url.Action("_EliminarArchivo", "liquidacion")",
            type: "post",
        beforeSend: function(){
            //$("#mensajito_obs").html("Un momento por favor.");
        },
        success: function (response) {
            var ret = response.split('|');
            alert(ret[1]);
            @*if (ret[0] == "true") {
                document.location = '@Url.Action("index","liquidacion")';
            }*@
        }
    });
    }
</script>
