@using corretaje.Models;
@using corretaje.Clases;
@using System.Configuration;

@model IEnumerable<corretaje.Clases.liquidaciones>

@{

    int IdUsuario = int.Parse(Request.Cookies["cookiePerfil"]["usuario"].ToString());
    int idArea = int.Parse(Request.Cookies["cookiePerfil"]["idArea"].ToString());
    int idSubper = int.Parse(Request.Cookies["cookiePerfil"]["idSubper"].ToString());
    string DirectorioDocumentos = ConfigurationManager.AppSettings.Get("directoriodocumentos");
    string DirectorioFacturas = ConfigurationManager.AppSettings.Get("rutaSubirFactura");

    DateTime fecha = new DateTime();
    fecha = DateTime.Now;
    string ano = fecha.Year.ToString();
    string mes = fecha.Month.ToString();
    string dia = fecha.Day.ToString();
    if (mes.Length == 1)
    {
        mes = "0" + mes;
    }

    if (dia.Length == 1)
    {
        dia = "0" + dia;
    }
    string fec = dia + "-" + mes + "-" + ano;

    int monto = 0;
    int sum_monto = 0;
    int com_neta = 0;
    int sum_com_neta = 0;
    int com_iva = 0;
    int sum_com_iva = 0;
    int total_com = 0;
    int sum_total_com = 0;
    int descuentos = 0;
    int sum_descuentos = 0;
    int a_pagar = 0;
    int sum_a_pagar = 0;
}
<style>
    .flota_derecha {
        float: right;
    }
</style>
<table style="font-size:10px;" class="table table-striped table-condensed table-bordered table-hover display" id="tbl_facturas">
    <thead>
        <tr style="background:#eeefff;">
            <th><input type="checkbox" name="todos_facturas" id="todos_facturas"></th>
            <th>Ejecutivo KAM</th>
            <th>Mes</th>
            <th>RUT</th>
            <th>Propietario</th>
            <th>Monto</th>
            <th>Com. Neta</th>
            <th>Com. Iva.</th>
            <th>Total Com.</th>
            <th>Descuentos</th>
            <th>A Pagar.</th>
            <th style="width: 100px;">F. Envío</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            monto = int.Parse(Math.Round(double.Parse(item.monto), 0).ToString());
            sum_monto += monto;
            com_neta = int.Parse(Math.Round(double.Parse(item.com_neta), 0).ToString());
            sum_com_neta += com_neta;
            com_iva = int.Parse(Math.Round(double.Parse(item.com_iva), 0).ToString());
            sum_com_iva += com_iva;
            total_com = int.Parse(Math.Round(double.Parse(item.com_total), 0).ToString());
            sum_total_com += total_com;
            descuentos = int.Parse(Math.Round(double.Parse(item.descuentos), 0).ToString());
            sum_descuentos += descuentos;
            a_pagar = int.Parse(Math.Round(double.Parse(item.a_pagar), 0).ToString());
            sum_a_pagar += a_pagar;
            <tr>
                <td><input type="checkbox" class="chk_envio_mail sel_todos4" value="@item.rut_propietario|@DateTime.Parse(item.mes).ToString("yyyy-MM-dd")"></td>
                <td>@item.sac_inversionista</td>
                <td>
                    <span style="display:none;">@DateTime.Parse(item.mes).ToString("yyyy-MM-dd")</span>
                    @DateTime.Parse(item.mes).ToString("dd-MM-yyyy")
                </td>
                <td>@item.rut_propietario</td>
                <td>@item.propietario</td>
                <td style="text-align: right;" data-order="@monto">$ @String.Format("{0:n0}", monto)</td>
                <td style="text-align: right;" data-order="@com_neta">$ @String.Format("{0:n0}", com_neta)</td>
                <td style="text-align: right;" data-order="@com_iva">$ @String.Format("{0:n0}", com_iva)</td>
                <td style="text-align: right;" data-order="@total_com">$ @String.Format("{0:n0}", total_com)</td>
                <td style="text-align: right;" data-order="@descuentos">$ @String.Format("{0:n0}", descuentos)</td>
                <td style="text-align: right;" data-order="@a_pagar">$ @String.Format("{0:n0}", a_pagar)</td>
                <td style="text-align: center" data-order="@item.f_mail_liquidacion">@item.f_mail_liquidacion</td>
                <td nowrap="nowrap" style="text-align:right">
                    @if (item.g_archivo_factura != "")
                    {
                        <a href="~/@DirectorioFacturas/@item.g_archivo_factura" target="_blank"><img src="~/img/@item.icono_mostrar_ldi" title="Ver Factura" style="cursor:pointer; width: 15px; height: 18px;" /></a>
                    }

                    @if (item.g_archivo_factura_ilp != "")
                    {
                        <a href="~/@DirectorioFacturas/@item.g_archivo_factura_ilp" target="_blank"><img src="~/img/@item.icono_mostrar_ilp" title="Ver Factura" style="cursor:pointer; width: 15px; height: 18px;" /></a>
                    }
                </td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr style="background: #eeefff;">
            <td colspan="5" style="text-align: right;">Total : </td>
            <td style="text-align: right;">$ @String.Format("{0:n0}", sum_monto)</td>
            <td style="text-align: right;">$ @String.Format("{0:n0}", sum_com_neta)</td>
            <td style="text-align: right;">$ @String.Format("{0:n0}", sum_com_iva)</td>
            <td style="text-align: right;">$ @String.Format("{0:n0}", sum_total_com)</td>
            <td style="text-align: right;">$ @String.Format("{0:n0}", sum_descuentos)</td>
            <td style="text-align: right;">$ @String.Format("{0:n0}", sum_a_pagar)</td>
            <td colspan="2"></td>
        </tr>
    </tfoot>
</table>

<div id="modal_envio_pdf_por_mail_facturas" class="modal" style="width: 600px; height:280px; border: 1px solid #ccc; color: #666677; font-size:12px; padding:20px;  z-index: 5;">
    <div style="font-size:14px; border-bottom:1px solid #ff8000; padding-bottom:10px; ">
        <div class="celda"><h3><b>Confirme Envío de Facturas por E-Mails</b></h3></div>
    </div>
    <div class="celda" style="width: 100%; margin-top:10px; height:100px" id="resultado_envio_mails">
        <center>
            Se enviaran las facturas seleccionadas por E-Mail, esta seguro(a) ?
        </center>
    </div>
    <div style="width:99%; text-align:center;  margin-top: 10px;">
        <div class="celda ancho" style="width:100px; margin-left:10px">
            <div class="boton" style="width:89px;" id="btn_envio_pdf_por_mail_facturas">SI</div>
        </div>
        <div class="celda ancho" style="width:100px; margin-left:10px">
            <div class="boton" style="width:89px;" onClick="cerrar_ventana('#modal_envio_pdf_por_mail_facturas')">NO</div>
        </div>
    </div>
</div>

<div id="modal_res_envio_pdf_por_mail_facturas" class="modal" style="width: 800px; height:550px; border: 1px solid #ccc; color: #666677; font-size:12px; padding:20px;  z-index: 5;">
    <div style="font-size:14px; border-bottom:1px solid #ff8000; padding-bottom:10px; ">
        <div class="celda"><h3><b>Resultado Envío de Facturas por E-Mails</b></h3></div>
    </div>
    <div class="celda" style="width: 100%; margin-top:10px; height:400px; overflow: auto;" id="contenido_res_envio_mails_facturas">
        <center>
            Un Momento por favor.
        </center>
    </div>
    <div style="width:99%; text-align:center;  margin-top: 10px;">
        <div class="celda ancho" style="width:100px; margin-left:10px">
            <div class="boton" style="width:89px;" onClick="cerrar_ventana('#modal_res_envio_pdf_por_mail_facturas')">CERRAR</div>
        </div>
    </div>
</div>

<script>

    $(function () {

        $("#btn_envio_pdf_por_mail_facturas").click(function () {
            cerrar_ventana('#modal_envio_pdf_por_mail_facturas')
            pop_up("#modal_res_envio_pdf_por_mail_facturas", 700, 500);
            $("#fade").css("display", "none");

            var m_rut = new Array();
            var m_mes = new Array();

            //var a = $("input:checkbox:checked");
            //cerrar_ventana('#modal_cambio_estado_liquidar');
            $('#tbl_facturas tbody tr .chk_envio_mail:checked').each(function () {
                var values = $(this).val().split('|');
                var rut = values[0];
                var mes = values[1];
                m_rut.push(rut);
                m_mes.push(mes);
            });

            //_EnvioLiquidacionPorMail
            var param = { "m_rut": m_rut.join('|'), "m_mes": m_mes.join('|') };
            $.ajax({
                data: param,
                async: false,
                url: "@Url.Action("_EnvioFacturasPorMail", "liquidacion")",
                type: "POST",
                beforeSend: function(){
                        $("#contenido_res_envio_mails_facturas").html("Un momento por favor.");
                },
                success: function (response) {
                        $("#contenido_res_envio_mails_facturas").html(response);
                }
            });
            //var ids_pago = Array.prototype.map.call(a, function (x) {
            //    if (x.value != "on" && x.id == "id2_aprob")
            //    {
            //        //var datos = x.value.split('|');
            //        //var rut = datos[0];
            //        //var fecha = datos[1].replace('.','');
            //        //var id_pago = datos[2];
            //        //Genera_PDF_Liquidacion(id_pago, rut, fecha)
            //    }
            //});
        })

        $("#btn_enviar_por_mail_facturas").click(function () {
            pop_up("#modal_envio_pdf_por_mail_facturas", 700, 500);
            $("#fade").css("display", "none");
        });

        var tabla_facturas = $("#tbl_facturas").DataTable(
            {
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                "iDisplayLength": 50,
                dom: 'B<"flota_derecha"lf>rtip',
                buttons: [
                    {
                        extend: 'colvis',
                        text: 'Columnas'
                    },
                    {
                        extend: 'excelHtml5',
                        text: 'Excel',
                        footer: true,
                        exportOptions: {
                            columns: ':visible'
                        },
                        filename: 'Solicitudes_Devolucion.xlsx'
                    },
                    {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'LEGAL',
                        text: 'PDF',
                        footer: true,
                        exportOptions: {
                            columns: ':visible'
                        },
                        filename: 'Solicitudes_Devolucion.pdf'
                    }
                ]
            });
        $("#cant_facts").html("&nbsp;&nbsp;" + tabla_facturas.data().count() + "&nbsp;&nbsp;");

        $("#todos_facturas").click(function () {
            var allPages = tabla_facturas.cells().nodes();

            if ($(this).is(":checked")) {
                $(".sel_todos4", allPages).prop("checked", true);
            } else {
                $(".sel_todos4", allPages).prop("checked", false);
            }
        });

    });
</script>